/* Ensure the right font-family is used */
.codicon[class*="codicon-"] {
    font-family: "codicon-override" !important;
}

/* Disable the ruler overview since we don't scroll */
.decorationsOverviewRuler {
    display: none !important;
}
